<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CMS솔루션</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <style>

            #image_style {
                display: block;
                margin: 200px auto 30px auto;
                width: 400px;
            }

            .button_center {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
            }
        </style>

    </head>

    <body>
        <div>
            <img id="image_style" src="../static/logimage.png" alt="log image">
            <div class="button_center">
                <button onclick="location.href='index_lark.html'" style="" type="button" class="btn btn-danger">Enter</button>
            </div>
        </div>
    </body>

</html>