<!DOCTYPE html>
<html lang="ko">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
        <title>골푸드</title>
        <style>
            #image_style {
                display: block;
                margin: 20px auto 30px auto;
                width: 500px;
                border-radius: 20px;;
            }
            .golflist {
                text-align: center;
                /*margin: 10px;*/
            }
            .input-wrap {
                width: 500px;
                margin: auto;
            }
            .button_center {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                margin: 10px auto;
            }
        </style>
        <script>
            $(document).ready(function () {
                // index.html 로드가 완료되면 자동으로 showStar() 함수를 호출합니다.
            });
            // 골프장을 검색해서 검색결과를 보여준다
            function showGolflist() {
                let name = $("#golf-name").val();
                if (name === '') {
                    alert("골프장 이름을 입력해주세요")
                } else {
                    $.ajax({
                        type: "GET",
                        url: "/golf/list",
                        data: {'name_golf': name},
                        success: function (response) {
                            console.log(response);
                            $('#golflist-box').empty()
                            let golfs = response['golf_list']
                            if (golfs.length === 0) {
                                alert('일치하는 골프장이 없습니다.')
                                return
                            }
                            $("#input-box").show()
                            for (let i = 0; i < golfs.length; i++) {
                                let golf = golfs[i]
                                let name = golf['name']
                                let url = golf['url']
                                let address = golf['address']
                                let lat = golf['lat']
                                let lng = golf['lng']
                                let tempHtml = `<tr>
                                                    <td>${name}</td>
                                                    <td>${address}</td>
                                                    <td><a href="${url}">${name}</a></td>
<!--                                                    <td><button onclick="search('${lat}', '${lng}')">선택</button></td>-->
                                                    <td><button onclick="search('${lat}', '${lng}', '${name}')" class="btn btn-outline-secondary" type="button">선택</button></td>
                                                </tr>`
                                $('#golflist-box').append(tempHtml)
                            }
                        }
                    });
                }
            }
            // 음식종류 선택 완료 -> 골프장 검색완료 후 맛집추천리스트 페이지로 분개
            function search(lat, lng, name) {
                let food = $('#order-count').val()
                console.log(food, lat, lng, name)
                if (food === '') {
                    alert('음식종류를 선택해주세요')
                    return
                }
                location.href = `/search?lat=${lat}&lng=${lng}&food=${food}&name=${name}`
            }
        </script>
    </head>
    <body>
        <div>
            <div>
                <img id="image_style" src="../static/golfoodlog.png" alt="log image">
            </div>
            <div class="input-wrap">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">음식종류</label>
                    </div>
                    <select class="custom-select" id="order-count">
                        <option selected value="">-------선호하는 음식 선택-------</option>
                        <option value="한식">한식</option>
                        <option value="양식">양식</option>
                        <option value="일식">일식</option>
                        <option value="중식">중식</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="golf-name" placeholder="골프장 명칭을 입력해 주세요"
                           aria-label="Recipient's username"
                           aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button onclick="showGolflist()" class="btn btn-outline-secondary" type="button">검색</button>
                    </div>
                </div>
                <div class="golflist" id="input-box" style="display:none">
                    <table class="table">
                        <thead>
                        <tr>
                            <th width="5%" scope="col">골프장</th>
                            <th width="10%" scope="col">주소</th>
                            <th width="5%" scope="col">URL</th>
                            <th width="5%" scope="col">확인</th>
                        </tr>
                        </thead>
                        <tbody id="golflist-box">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>