<!DOCTYPE html>
<html lang="ko">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
        <title>골푸드맛집</title>

        <style>
            .wrap {
                width: 700px;
                margin: 20px auto;
            }
        </style>
        <script>

        </script>
    </head>
    <body>
        <div class="wrap">
            <div class="jumbotron">
                <h1 class="display-4">골푸드 추천 맛집</h1>
                <p class="lead">000 골프장 근처 (한식?) 추천 맛집 리스트 입니다.</p>
                <hr class="my-4">
                <p class="lead">
                    <button onclick="location.href='index.html'" id="btn-post-box" type="button" class="btn btn-primary">홈화면
                    </button>
                </p>
            </div>

            <div id="cards-box" class="card-columns">
                <div class="card">
                    <img class="card-img-top"
                         src="이미지"
                         alt="Card image cap">
                    <div class="card-body">
                        <a href="URL" class="card-title">식당이름</a>
                        <p class="card-text">메뉴</p>
                        <p class="card-text comment">식당설명</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="이미지"
                         alt="Card image cap">
                    <div class="card-body">
                        <a href="URL" class="card-title">식당이름</a>
                        <p class="card-text">메뉴</p>
                        <p class="card-text comment">식당설명</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="이미지"
                         alt="Card image cap">
                    <div class="card-body">
                        <a href="URL" class="card-title">식당이름</a>
                        <p class="card-text">메뉴</p>
                        <p class="card-text comment">식당설명</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="이미지"
                         alt="Card image cap">
                    <div class="card-body">
                        <a href="URL" class="card-title">식당이름</a>
                        <p class="card-text">메뉴</p>
                        <p class="card-text comment">식당설명</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="이미지"
                         alt="Card image cap">
                    <div class="card-body">
                        <a href="URL" class="card-title">식당이름</a>
                        <p class="card-text">메뉴</p>
                        <p class="card-text comment">식당설명</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="이미지"
                         alt="Card image cap">
                    <div class="card-body">
                        <a href="URL" class="card-title">식당이름</a>
                        <p class="card-text">메뉴</p>
                        <p class="card-text comment">식당설명</p>
                    </div>
                </div>
            </div>

        </div>


    </body>
</html>