<!DOCTYPE html>
<html lang="ko">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
        <title>골푸드맛집</title>
        <style>
            .wrap {
                max-width: 1000px;
                margin: 20px auto;
            }
            .food-columns {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                row-gap: 8px;
                column-gap: 8px;
            }
            @media only screen and (max-width: 600px) {
                .food-columns {
                    grid-template-columns: repeat(1, 1fr);
                }
            }
        </style>
        <script>
            function distanceKilo(metres) {
                var meter = Number(metres);
                var km = meter / 1000;
                return km.toFixed(1);
            }

            $(document).ready(function () {
                let lat = '{{lat}}'
                let lng = '{{lng}}'
                let food = '{{food}}'
                let name = '{{name}}'
                $('#change_golfjang').text(name);
                $('#change_food').text(food);
                console.log(lat, lng, food)
                $.ajax({
                    type: 'GET',
                    url: '/golfood/list',
                    data: {
                        'lat': lat,
                        'lng': lng,
                        'food': food,
                        'name': name,
                    },
                    success: function (res) {
                        $('#cards-box').empty()
                        let rows = res['documents']
                        for (let i = 0; i < rows.length; i++) {
                            let row = rows[i]
                            console.log(row)
                            let address_name = row['address_name']
                            let category_group_code = row['category_group_code']
                            let category_group_name = row['category_group_name']
                            let category_name = row['category_name']
                            let metres = row['distance']
                            let id = row['id']
                            let phone = row['phone']
                            let place_name = row['place_name']
                            let place_url = row['place_url']
                            let road_address_name = row['road_address_name']
                            let temp = `<div class="card">
                                            <div class="card-body">
                                                <h5 ><a href="${place_url}" style="color:crimson" class="card-title">${place_name}</a></h5>
                                                <p class="card-text">${address_name}</p>
                                                <p class="card-text comment">${category_name}</p>
                                                <p class="card-text comment"><sapn style="color:mediumblue">${name}에서</sapn> : ${distanceKilo(metres)}km</p>
                                            </div>
                                        </div>`
                            $('#cards-box').append(temp)
                        }
                    }
                })
            })
        </script>
    </head>
    <body>
        <div class="wrap">
            <div class="jumbotron">
                <h1 class="display-4" style="color:black">골푸드 추천 맛집</h1>
                <p class="lead"><span style="color:mediumblue" id="change_golfjang">000</span> 골프장 근처
                    <span id="change_food" style="color:mediumblue">000</span>추천 맛집 리스트 입니다.</p>
                <hr class="my-4">
                <p class="lead">
                    <button onclick="location.href='/'" id="btn-post-box" type="button" class="btn btn-primary">HOME
                    </button>
                    </button>
                </p>
            </div>
            <div id="cards-box" class="food-columns">
            </div>
        </div>
    </body>
</html>